.friendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  row-gap: 8px;
  margin: 20px 0;

  width: 100%;
  max-width: 500px;
  padding: 0;
}
